/*------------------------------------*\
  Head Navigation Style
\*------------------------------------*/

.headline{
    padding: 15px 0 0 15px; 
}

#header {
    background-image:url("../images/tr95_w.png");
   /*   background-image:url("../images/tr50_bw.png"); */
    margin: 0 auto;
    padding: 0px;
    height: 120px;
    border-bottom: 1px solid #000;
    
}
#nav{
    margin: 0 auto;
    height: 47px;
    border-bottom: 1px solid #000;
}
#nav a{
    padding: 6px 2px;
}
#nav a:hover{
    background: red;
    padding: 5px 2px;
    
}

#nav ul{
    background-image:url("../images/tr80_w.png");
    list-style: none;
    width: 100%;
    padding-top: 12px;
    height: 35px;
}

#nav ul li{
    padding-left: 10px;
    display: inline;
}
#nav ul li:hover{
    color: #000080;
    padding-top: 12px;
    height: 35px;
}
#head_img{
     /*background-image:url("../images/logo.png");     
    background-repeat: no-repeat;
    background-position: 20px 5px;
   
    width: 960px;
    margin: 0 auto;*/

}

